body {
  background-color:#f5ca75;
  font-family: Comic Sans MS;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
#navBar{
  margin-left:
  margin-bottom: 0;
}
#navBar a{
  margin-left: 20px;
  margin-right: 20px;
  padding-right:20px;
  margin-bottom: 0;
  color:#d19f41;
}
.well {
  background: #207cca; /* Old browsers */
  background: -moz-linear-gradient(45deg, #207cca 0%, #1e5799 0%, #55c6b2 0%, #79c6b8 46%, #79c6b8 46%, #58a6e2 78%, #409de5 100%);
  background: -webkit-linear-gradient(45deg, #207cca 0%,#1e5799 0%,#55c6b2 0%,#79c6b8 46%,#79c6b8 46%,#58a6e2 78%,#409de5 100%);
 background: linear-gradient(45deg, #207cca 0%,#1e5799 0%,#55c6b2 0%,#79c6b8 46%,#79c6b8 46%,#58a6e2 78%,#409de5 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#409de5',GradientType=1 );
  font-size: 20px;
}
#itemlist{
  opacity: 0.8;
  padding-bottom: 1%;
  background-color: #d19f41;
  margin-top: 7px;
  margin-right: 2px;
  border-radius: 24px 24px 24px 24px;
 -moz-border-radius: 24px 24px 24px 24px;
 -webkit-border-radius: 24px 24px 24px 24px;
 border: 11px double #000000;
}
footer{
  position:fixed;
  text-align: right;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  margin-bottom: 20px;
  padding-right: 300px;
}
#inputField {
  padding-left: 20%;
}

li {
  padding-bottom: 3px;
  list-style: none;
}

#button1 {
  font-weight: bold;
  overflow: visible;
  margin-left: 6%;
  margin-top: 2%;
  background: #207cca;
  background: -moz-linear-gradient(top, #207cca 0%, #1e5799 0%, #55c6b2 0%, #79c6b8 50%, #9cc5e5 92%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #207cca 0%,#1e5799 0%,#55c6b2 0%,#79c6b8 50%,#9cc5e5 92%,#7db9e8 100%);
  background: linear-gradient(to bottom, #207cca 0%,#1e5799 0%,#55c6b2 0%,#79c6b8 50%,#9cc5e5 92%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#7db9e8',GradientType=0 );
  cursor: url(http://www.rw-designer.com/cursor-view/54747-48.gif), auto;
  font-family: Comic Sans MS;
  border-radius: 10px;
}
#form {
 float: right;
}
ul {
  margin-left: -7%;
}
span, button {
  margin-right: 5px;
}
#pikka {
  text-align: center;
  background-image: url('http://www.picgifs.com/graphics/p/pikachu/graphics-pikachu-453448.gif');
  background-size: contain;
  background-repeat: repeat-x;
  background-repeat: no-repeat;
  background: #fac695; /* Old browsers */
  background: -moz-linear-gradient(45deg, #fac695 0%, #f5ab66 47%, #ef8d31 100%);
  background: -webkit-linear-gradient(45deg, #fac695 0%,#f5ab66 47%,#ef8d31 100%);
  background: linear-gradient(45deg, #fac695 0%,#f5ab66 47%,#ef8d31 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=1 );
  font-size: 20px;

}
